* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;800&family=Vollkorn+SC&display=swap");

@font-face {
  font-family: ZukaDoodle;
  src: url(../../Fonts/ZukaDoodle.ttf);
}

body {
  background-image: url("../../Images/achtergrond.png");

  background-position: center;
  background-repeat: repeat;
}

.container_quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.quote {
  font-family: ZukaDoodle;
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
}
.box {
  background-color: #f9f9f9;
  margin: 0 7vw 0 7vw;
  border-radius: 6px;
  font-family: "Nunito", sans-serif;
  padding: 5vw;
}
.ervaarjijstress {
  font-size: 1.37rem;
  text-align: left;
  font-weight: 600;
}
.calltoaction {
  font-size: 0.8rem;
  margin-top: 4vw;
  text-align: left;
  font-weight: 400;
}
.imageButton {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #afa4ca;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8vw;
  font-family: "Nunito", sans-serif;
}

.imageButton img {
  max-height: 30px; /* Adjust the max height as needed */
  margin-right: 10px; /* Adjust the margin between image and text */
}

.imageButton span {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

.onsdoel {
  margin: 0 7vw 0 7vw;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

.doel {
  margin: 0 7vw 0 7vw;
  border-radius: 6px;
  font-family: "Nunito", sans-serif;
  padding: 5vw;
}
.doel h2 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2vw;
  font-family: "Nunito", sans-serif;
}

.doel p {
  font-size: 0.8rem;
  margin-bottom: 2vw;
  font-weight: lighter;
  font-family: "Nunito", sans-serif;
}

.box_spel {
  background-color: #f9f9f9;
  margin: 0 7vw 0 7vw;
  border-radius: 6px;
  padding: 5vw;
}
.box_spel h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  margin-bottom: 5vw;
}

.box_spel p {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  color: #0b0b0b;
  margin-bottom: 5vw;
}

.box_spel img {
  height: 60vw;
}
